
  body{
    background-color: greenyellow;
  }
  .subscribe-button{
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 100px;
    border-radius: 2px;
    cursor: pointer;
    
  }
  .subscribe-button:hover{
    opacity: 0.6;
  }
  .subscribe-button:active{
    opacity: 0.5;
  }
  .join-button{
    background-color: white;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    color: blue;
    height: 36px;
    width: 60px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 8px;

  }
  .join-button:hover{
    background-color: rgb(40, 120, 255);
    color: white;
  }
  .join-button:active{
    opacity: 0.5;
  }
  .tweet-button{
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    height: 36px;
    width: 70px;
    border-radius: 17px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-left: 8px;
    box-shadow: 0px 0px 0px black;

  }
  .tweet-button:hover{
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
  }
