body{
 background-color: aqua;
}
h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-weight: bolder;
}
p{
 border: dashed;
 
 border-style: double;
}