*{
  box-sizing: content-box;
}
.wrapper{
  max-width: 900px;
  margin: 0 auto;
}

.wrapper>div{
  border: 2px solid greenyellow;
  border-radius: 5px;
  background-color: blue;
  padding: 1em;
  color: darkblue;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px;
  grid-auto-rows: minmax(100px,auto);
}

.wrapper .one{
  grid-column: 1/3;
  grid-row: 1;
  background-color: blueviolet;
}
.wrapper .two{
  grid-column: 2/4;
  grid-row: 1/3;
  background-color:burlywood;
}
.wrapper .three{
  grid-column: 1;
  grid-row: 2/5;
  background-color:aqua;
}
.wrapper .four{
  grid-column: 3;
  grid-row: 3;
  background-color: blueviolet;
}

.wrapper .five{
  grid-column: 2;
  grid-row: 4;
  background-color: blueviolet;
}